.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.width480 {
  width: 480px;
}